body {
  margin: 0;
  padding: 0;
  background-image: url('droplets.jpg');
}

.box {
  width: 450px;
  background: rgba(255, 255, 255, 0.3);
  padding: 40px;
  text-align: left;
  /* margin: auto;
  margin-top: 5%; */
  color: white;
  font-family: consolas, sans-serif, 'Century Gothic';
  border-radius: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
