body {
  margin: 0;
  padding: 0;
  background-image: url('droplets.jpg');
}

.box {
  width: 450px;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: left;
  color: white;
  font-family: consolas, sans-serif, 'Century Gothic';
  font-size: 14px;
  border-radius: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5;
}

.keywords {
  color: #ff7300;
  font-weight: bold;
}

.special-method {
  color:  #1aff1a;
  font-weight: normal;
}

.self {
  color: #ff66cc;
  font-weight: bold;
}

.function-call {
  color: #66ffff;
  /* font-weight: bold; */
}

.strings {
  color: #00e600;
}
