body {
  margin: 0;
  padding: 0;
  background-image: url('droplets.jpg');
}

.box {
  width: 700px;
  background: rgba(0, 0, 0, 0.9);
  padding: 40px;
  text-align: left;
  color: #ffffff;
  font-family: consolas, sans-serif, 'Century Gothic';
  font-size: 17px;
  border-radius: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.5;
  border-style: solid;
  border-color: #999999;
  border-width: 2px;
}

.keywords {
  color: #ff7300;
}

.special-method {
  color:  #1aff1a;
  font-weight: normal;
}

.self {
  color: #ff66cc;
}

.function-call {
  color: #66ffff;
}

.strings {
  color: #008000;
  font-weight: bolder;
}

.annotations {
  color: #ffff33;
}

.definition {
  color: #66a3ff;
}

.comments {
  color: #b2b1b1;
}
