.centercontainer {
  border: 1px solid white;
  position: absolute;
  height: 540px;
  width: 800px;
  margin-top: 75px;
  margin-left: 275px;
  margin-right: 275px;
  background: rgba(0, 0, 0, 0.7);
}

body {
 background-image: url("droplets.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}

p, ol, ul {
   padding-left: 55px;
   padding-right: 20px;
   color: white;
   text-shadow:0 0 0 #fff;
   font-family: serif;
   font-size: 20px;
}

li {
  padding-left: 15px;
  padding-bottom: 24px;
  line-height: 24px;
}

.code {
  border-radius: 5px;
  position: absolute;
  height: 300;
  width: 300;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
  color: white;
  text-shadow:0 0 0 #fff;
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
  background: rgb(128,128,128, 0.3);
  line-height: 20px;
}

.cmt {
  color: rgb(0, 255, 255, 0.3);
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
  text-align: right;
}

.inlinecode {
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 1px;
  padding-top: 1px;
  color: solid white;
  text-shadow:0 0 0 #fff;
  font-family: monospace;
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  background: rgb(128,128,128, 0.7);
}


h2 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow:0 0 0 #fff;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 35px;
}

h1 {
  text-align: center;
  margin-top: 250px;
  color: white;
  font-size: 40px;
}

.nextButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius: 4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 10px;
}


.nextButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius: 4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 10px;
}


.nextButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius: 4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

.prevButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius: 4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}

.myButton:hover {
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}
